@import "_variables.scss";
@import "_mixins.scss";

.container {
  display: flex;
}

.box {
  border-radius: 7px;
  width: 75px;
  height: 75px;
  color: #fff;
  margin: 10px;
  @include centerTextInBox;
}

.container-1 {
  .base-color {
    background-color: $baseColor1;
  }
  @for $i from 1 through 4 {
  .lighten-#{$i} {
    background-color: lighten($baseColor1, 10% * $i);
  }
   @for $i from 1 through 4 {
  .darken-#{$i} {
    background-color: darken($baseColor1, + 10% * $i);
  }
}
}
}

.container-2 {
  .base-color {
    background-color: $baseColor2;
  }
  @for $i from 1 through 4 {
  .lighten-#{$i} {
    background-color: lighten($baseColor2, 10% * $i);
  }
   @for $i from 1 through 4 {
  .darken-#{$i} {
    background-color: darken($baseColor2, 10% * $i);
  }
}
  }
} 

.container-3 {
  .base-color {
    background-color: $baseColor3;
  }
  @for $i from 1 through 4 {
  .lighten-#{$i} {
    background-color: lighten($baseColor3, 10% * $i);
  }
   @for $i from 1 through 4 {
  .darken-#{$i} {
    background-color: darken($baseColor3, 10% * $i);
  }
}
  }
} 


